# Dataset folders (too large for GitHub)
data/

# Model files (too large for GitHub)
models/*.keras
models/*.tflite

# Large notebook files (with outputs)
notebooks/codecnn.ipynb

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
